DB_URL=jdbc:postgresql://localhost:5432/cepdb
DB_USER=user
DB_PASSWORD=password
DB_NAME=cepdb
DB_PORT=5432
CEP_API_URL=http://localhost:8081/cep
WIREMOCK_PORT=8081
API_USER=admin
API_PASSWORD=admin123
APP_PORT=8080